@import 'src/app/authenticated/verification/components/shared/common-declarations';

.verification-form {
  max-width: 420px;
  margin-bottom: 500px;

  &__section-title {
    margin-bottom: 40px;
  }

  &__space-between-row {
    flex-wrap: nowrap;
  }

  &__phone-number-form {
    padding: 12px;
  }

  &__verification-code-form {
    padding: 12px;
    flex-direction: column; // Change the direction to column
    align-items: center; // Center align the items
  }

  &__phone-input {
    width: 240px;
  }

  &__code-input {
    width: 155px;
    margin-right: 20px;

    @include media-max-width($screen-md) {
      margin-right: 0;
    }
  }

  &__phone-input,
  &__code-input {
    @include media-max-width($screen-md) {
      width: 100%;
    }
  }

  &__btn-thin-text {
    width: 140px;
    height: 50px;
    line-height: 0;
    font-weight: normal;

    @include media-max-width($screen-md) {
      margin-top: 20px;
    }
  }

  &__timer {
    margin-left: 20px;
    font-weight: bold;

    @include media-max-width($screen-md) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .code-input-container {
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .timer-container {
    text-align: center;
  }

  code-input {
    --color: #9b9da3 !important;
    --item-border: 1px solid #cdced1 !important;
    --item-border-bottom-focused: 3px solid #b2c3ff;
    --item-border-focused: 3px solid #b2c3ff;
    --item-border-radius: 4px !important;
    --item-height: 64px !important;
    --item-widtg: 16px !important;
    --item-shadow-focused: none !important;
    --item-spacing: 12px !important;
    font-size: 24px !important;
    padding-bottom: 1rem !important;
  }
}
